body{
    background-color: #444;
    text-align: left;
    font-family: ''Courier New', Courier, monospace';
}
#container{
    text-align: center;
    padding: 1em 1px;
    border: #442268 solid 3px ;
    border-radius: 5px;
    margin: 0%;
    color: #333;
    background-color:ghostwhite;
}

#container h1{
    font-size: 50px;
}

#cabecera{
    color: #33a;
    margin: 0 auto;
    text-shadow: 2px 2px 4px  #666;
    background-color:#ccc;
    box-shadow: 0px 5px 5px #aaa;
    text-align: center;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cabecera #tagline{
    box-shadow: 1px 1px 1px #999;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
    font-family:Cambria;
    font-weight: normal;
    position: relative;
    left:35%;
    
}

#cabecera #tagline:hover{
    color: #000;
    box-shadow: 1px 1px 1px 2px  #999;
    transition: 1s;
}

#footer{
    text-align: center;
    color: #33a;
    background-color: #ccc;
    padding: 0.5em;
    font-size: 20px;
    margin-bottom: 0;
    
}